<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
						http://www.springframework.org/schema/beans/spring-beans.xsd 
						http://www.springframework.org/schema/context
						http://www.springframework.org/schema/context/spring-context.xsd 
						http://www.springframework.org/schema/mvc 
						http://www.springframework.org/schema/mvc/spring-mvc.xsd 
						http://www.springframework.org/schema/aop 
						http://www.springframework.org/schema/aop/spring-aop.xsd">
						

	<!-- 对扫描包的路径进行设置： -->
	<context:component-scan base-package="com.cjean"/>

	<!-- 激活@Contrlloer模式  声明式编程 启动springmvc注解模式 -->
	<mvc:annotation-driven/>
	<!-- 视图解析器：对请求的路径或转发的展示页面路径进行设置 -->
	<bean id="jspViewResolver"
		  class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		 <!-- <property name="viewClass"
		  			value="org.springframework.web.servlet.view.JstlView" />-->
		  			
		  <property name="prefix" value="/WEB-INF/jsp/" />
		  <property name="suffix" value=".jsp" />
		  
	</bean>
	
	

</beans>